@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #data_text {
        animation: text 0.5s ease-in 0s 1;
    }

    @keyframes text {
        0% {
            transform: translateX(-20rem);
        }
        100% {
            transform: translateX(0px);
        }
    }

    #data_image {
        animation: image 0.5s ease-in 0s 1;
    }

    @keyframes image {
        0% {
            transform: translateY(-10rem);
        }
        100% {
            transform: translateY(0px);
        }
    }
}